.main {
  .hero {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, 1fr));
    grid-template-rows: repeat(2, 350px);
    margin: 50px 0;
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .btn {
    user-select: none;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow {
      font-size: 1.3rem;
      padding-right: 5px;
    }
    &.btn--back-top{
      padding: 10px 15px;
      border-radius: 20px;
      color: #999;
      &:hover {
        background-color: #111;
        transition: all .3s;
        color: #fff;}
    }
  }
}
