.welcome {
    position: absolute;
    z-index: 100;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 150px 400px;
  gap: 20px;
  background: rgba(0, 0, 0, 0.5);
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("https://images.pexels.com/photos/397998/pexels-photo-397998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    z-index: -1;
  }
  .btn {
    padding: 8px 12px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #111;
    font-weight: 600;
    background-color: #fff;
    transition-duration: 0.4s;
    &:hover {
        background-color: #111;
        color: #fff;
    }
  }
  

  .text, .title {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    color: #fff;
  }
}
