@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  font-family: 'Montserrat', serif;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app {
  .nav {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    min-height: 100px;
    .right {
      display: flex;
      gap: 20px;
      .nav--box {
        // color: #c0c1c0;
        
          transition: all .3s;
          color: #999;
          &:hover {
            color: #000;
          }
        &.active  {
          color: #000;
        }
      }
    }
  }
 
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .social {
    display: flex;
    gap: 15px;
    font-size: 1.2rem;
    margin: 80px 0;
    color: #999;
    .icon:hover {
      color: #000;
    }
  }
  
  .copy-right {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
}
